body {
  .jumbotron.text-center {
      .authorization-type {
        font-weight: bold;
      }
  }

  .main-content {
    margin-left: 12%;
    text-align: center;
    .col-md-4 {
      button {
        width: 200px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .main-content {
      margin-left: 35%;
    }
  }

  @media screen and (max-width: 550px){
    .main-content {
      margin-left: 0%;
    }
  }
}