<% include header.ejs %>
        <% if ((typeof req.user === "undefined")) { %>
            <div class="jumbotron text-center">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <h1><span class="glyphicon glyphicon-lock"></span>Pick Authentication Type</h1>
                    </div>
                    <div class="panel-body main-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">
                                        <a href="/signup" class="btn btn-primary" id="register_locally">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4">
                                                    <i class="fa fa-male fa-4x"></i>
                                                </div>
                                                <div class="col-xs-6 col-sm-4">
                                                    <span class="authorization-type">Register<br/>Locally</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">
                                        <a href="/login" class="btn btn-primary" id="login_locally">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4">
                                                    <i class="fa fa-share-alt-square fa-4x"></i>
                                                </div>
                                                <div class="col-xs-6 col-sm-4">
                                                    <span class="authorization-type">Login <br/>Locally</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">
                                        <a href="/auth/twitter/callback" class="btn btn-primary" id="login_twitter">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4">
                                                    <i class="fa fa-twitter-square fa-4x"></i>
                                                </div>
                                                <div class="col-xs-6 col-sm-4">
                                                    <span class="authorization-type">Twitter</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">
                                        <a href="/auth/facebook/callback" class="btn btn-primary" id="login_facebook">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4">
                                                    <i class="fa fa-facebook-square fa-4x"></i>
                                                </div>
                                                <div class="col-xs-6 col-sm-4">
                                                    <span class="authorization-type">Facebook</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4">
                                    <a href="auth/google/callback" class="btn btn-primary" id="login_google">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-4">
                                                <i class="fa fa-google-plus-square fa-4x"></i>
                                            </div>
                                            <div class="col-xs-6 col-sm-4">
                                                <span class="authorization-type">Google</span>
                                            </div>
                                        </div>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="jumbotron text-center">
                <p>Hello, <%= req.user.email %>.</p>
                <a href="/rooms" class="btn btn-info" style="width: 200px;" id="chat_room"><i class="fa fa-comments fa-3x"></i> Join Lobby</a>
            </div>
        <% } %>
<% include footer.ejs %>