<div class="modal fade" id="basicModalPassword" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">You need to pass password to join this room.</h4>
                <div class="modal-header-errors"></div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group" id="password">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="room_create_submit">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>