<% include header.ejs%>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src='/js/rooms.js'></script>
<script type="text/javascript" src='/js/sockets/rooms.js'></script>

<div class="rooms">
    <div class="list-group">
        <a href="#WelcomeToPlanYourTrip" class="list-group-item active">
            List of active rooms
            <a href="#" class="btn btn-success btn-group-vertical" id="room_create" data-toggle="modal" data-target="#basicModal">
                <i class="fa fa-weixin"></i> Create Room
            </a>
        </a>
        <div id="room_storage">

        </div>

    </div>
    <% include room_create.ejs %>
</div>

<% include footer.ejs %>